.app-home{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}


.app-home>.home-left-section{
    flex: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.home-left-section>.btn-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}

.width-12{
    width: 200px;
}

.app-home>.home-right-section{
    flex: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}