@import '../../node_modules/modern-normalize/modern-normalize.css';

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Roboto", "Roboto Mono", "Material Icons";
  font-weight: 400;
  user-select: none;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
  list-style: none;
}




:root {
  --statusbar-height: 22px;
  --statusbar-color-nw: #1b95ec;
  --statusbar-color-ww: #ec791b;
  
  --bg-black: rgb(32, 32, 32);
  --fg-black: rgb(222, 222, 222);

  --bg-black-2: rgba(52, 52, 52, 0.2);
  
  --bg-white: rgb(222, 222, 222);
  --fg-white: rgb(42, 42, 42);

  --bg-white-2: rgba(240, 240, 240, 0.2);
  --broder-white-color: rgb(207, 207, 207);
  --broder-black-color: rgb(40, 40, 40);

  --btn-bg-color-black: hsl(0, 0%, 19%);
  --btn-fg-color-black: hsl(0, 0%, 78%);
  --btn-bg-color-black-hover: hsl(0, 0%, 16%);
  --btn-fg-color-black-hover: hsl(0, 0%, 100%);
  --btn-border-color-black: hsl(0, 0%, 23%);
  --btn-border-color-black-hover: hsl(0, 0%, 20%);

  --btn-bg-color-white: hsl(0, 0%, 90%);
  --btn-fg-color-white: hsl(0, 0%, 13%);
  --btn-bg-color-white-hover: hsl(0, 0%, 95%);
  --btn-fg-color-white-hover: hsl(0, 0%, 10%);
  --btn-border-color-white: hsl(180, 1%, 74%);
  --btn-border-color-white-hover: hsl(180, 1%, 74%);
}