.no-workspace{
    background-color: var(--statusbar-color-nw);
    color: white;
}

.has-workspace{
    background-color: var(--statusbar-color-ww);
    color: white;
}

.status-bar{
    height: var(--statusbar-height);
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.05em;
    padding: 0 12px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.status-bar>.left{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    column-gap: 10px;
}

.status-bar>.right {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    column-gap: 10px;
  }