.app-container {
  width: 100%;
  height: 100%;
  
}

.black{
  background-color: rgb(32, 32, 32);
  color: white;
}

.white{
  color: #2a2a2b;
  background-color: rgb(222, 222, 222);
}

.app-container>.app-body{
  width: 100%;
  height: calc(100% - 22px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px;
}


