.btn{
    border: none;
    background-color: inherit;
    padding: 0.25em 0.75em;
    cursor: pointer;
    display: flex;
    font-family: "Roboto";
    letter-spacing: 0.01em;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0;
    text-align: center;
    justify-content: center;
	align-items: center;
    border-radius: 2px;
    text-decoration: none ;
    transition: all .3s ease-in-out;
}

.btn:disabled,
.btn:disabled:focus{
    cursor: default;
    opacity: 0.6
}

.black .btn{
    background-color: var(--btn-bg-color-black);
    color: var(--btn-fg-color-black);
    border: 1px solid var(--btn-border-color-black);
}

.black .btn:hover:not([disabled]){
    background-color: var(--btn-bg-color-black-hover);
    color: var(--btn-fg-color-black-hover);
    border-color: var(--btn-border-color-black-hover);
}


.white .btn{
    background-color: var(--btn-bg-color-white);
    color: var(--btn-fg-color-white);
    border: 1px solid var(--btn-border-color-white);
}

.white .btn:hover:not([disabled]){
    background-color: var(--btn-bg-color-white-hover);
    color: var(--btn-fg-color-white-hover);
    border-color: var(--btn-border-color-white-hover);
}

