@import-normalize;

html,
body {
  margin: 0;
  font-family: "Roboto", "Poppins", "Material Icons";
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100%;
}

#root{
  height: 100%;
}

.btn{
  border: none;
  background-color: inherit;
  padding: 3px 12px;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  letter-spacing: 0.01em;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  margin: 0 0;
  text-align: center;
}


.rounded{
  border-radius: 2px;
}

.black .btn{
  background-color:hsl(0, 0%, 15%);
  color: white
}

.black .btn:hover{
  background-color:rgb(30, 30, 30);
  color: white
}


.white .btn{
  background-color: rgb(230, 230, 230);
  color: rgb(32,32,32)
}

.white .btn:hover{
  background-color: rgb(240, 240, 240);
  color: rgb(32,40,40)
}

.material-icons-outlined,
.material-icons{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
}

.black .material-icons{
  color: white
}

.white .btn{
  color: rgb(32,32,32)
}