.new-project{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    background-color: transparent;
    position: relative;
}

.new-project>button{
    position: absolute;
    top: 10px;
    left: 10px;
}

.new-project>.left-area{
    display: grid;
    place-items: center;
    min-width: 450px;
}

.new-project>.right-area{
    flex: 1;
    padding: 2px 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px 10px;
    border-radius: 4px;
    overflow-y: scroll;
}

.black .new-project>.right-area{
    background-color: var(--bg-black-2);
    border: 0.5px solid var(--broder-black-color);
}


.white .new-project>.right-area{
    background-color: var(--bg-white-2);
    border: 0.5px solid var(--broder-white-color);
}



.p-5{
    padding-right: 2px;
    padding-left: 5px;
}